body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
	/*
        background-image:url(../img/hrm_login_background.jpg);
        */
}
.form-signin {
	max-width: 350px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 0px 20px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 20px rgba(0, 0, 0, 1);
	opacity: 0.95;
}
.form-signin .form-signin-heading,  .form-signin .checkbox {
	margin-bottom: 10px;
	font-size: 26px;
	text-align: center;
}
.input-append, .input-prepend {
	width: 90%;
}
.form-signin input[type="text"],  .form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 9px 9px;
}
.input-append .add-on, .input-prepend .add-on {
	height: 29px;
}
.contact {
	margin-top: 5px;
	color: #0077b3;
}
.login-error {
	margin-top: 30px;
}
.mohfw {
	font-family: Georgia, serif;
}
 @media (min-width: 768px) and (max-width: 979px) {
 .container {
 width: 760px;
}
}
 @media (max-width: 767px) {
 .container {
 width: 760px;
}
}
 @media (max-width: 480px) {
 .container {
 width: 300px;
}
}
